@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base */
body {
    background-color: #0a0a0a; /* Forzamos el color negro de fondo */
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Opcional: Estilo personalizado para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}